/** Theme colors: */

/* --honeydew: #e8f7eeff;
--ash-gray: #b8c4bbff;
--dark-brown: #6c4d25ff;
--green-blue-crayola: #1e91d6ff;
--sap-green: #447604ff; */


/* --honeydew: hsla(144, 48%, 94%, 1);
--ash-gray: hsla(135, 9%, 75%, 1);
--dark-brown: hsla(34, 49%, 28%, 1);
--green-blue-crayola: hsla(203, 75%, 48%, 1);
--sap-green: hsla(86, 93%, 24%, 1); */

/** 
-styling for selected elements by class or id to override React and/or MUI defaults
-resizing selected elements for different screen sizes
*/

.link {
  text-decoration: none;
  }

.navbar-link {
  text-decoration: none;
  margin-right: 1rem;
  color: #e8f7eeff;
}

.navbar-link-mobile {
  font-family: Lexend Deca;
  text-decoration: none;
  margin: .75rem;
  text-align: center;
  color: #1e91d6ff;
}

.navbar-link:hover {
  font-size: larger;
}

.material-symbols-outlined {
  padding-top: 1rem;
  padding-left: 1rem;
}

.emoji {
 font-size: 2.5rem;
 text-align: center;
 margin: 0;
}

.input-nonMUI {
  margin-left: 1rem;
}

.blue-text {
  color: #1e91d6ff;
}

.options-btn {
  max-width: 160px;
}

#reset-btn {
  background-color: red;

}

#navbar-simlink {
  text-transform: none;
  background-color: transparent;
  border: none;
  color: #e8f7eeff;
  font-size: 1.2rem;
  margin: 0px 0px 4px 0px;
  padding-left: 1px;
}

#navbar-simlink-mobile {
  text-transform: none;
  background-color: transparent;
  border: none;
  color: #1e91d6ff;
  font-size: 1rem;
  margin: 0px 0px 4px 0px;
}

#navbar-simlink:hover {
  font-size: larger;
}

#alphabet-button {
  font-size: 2rem;
}

#alt-button {
  background-color: #1e91d6ff;
}

#alt-button:hover {
  background-color: hsla(203, 75%, 48%, .2);
  color: #1e91d6ff;
  border: 1px solid #1e91d6ff;
}

#mock-btn {
  background-color: #1e91d6ff;
  color: #e8f7eeff;
  border-radius: 3px;
  padding: 3px 6px;
}

#giant-btn {
  background-color: hsla(203, 75%, 48%, .2);  
  border: none;
  text-transform: none;
}

#giant-btn:hover {
  background-color: hsla(203, 75%, 48%, .5);
}

@media (min-width: 375px){
    .video {
      width: 350px;
      height: 206px;
      border: 0px;
      border-radius: 10px;
    }

    .photo {
      width: 100%;
      border-radius: 10px;
    }

    .img-home {
      max-width: 8rem;
    }

    .animalIcon {
      max-width: 370px;
    }

    .Dashboard {
      max-width: 360px;
      padding: 10px;
    }

    .kid-clipart {
      width: 50px;
    }

    #modal-img {
      width:300px;
      margin: auto;
    }

    #modal-modal-title {
      font-size: 1.5rem;
      color: #1e91d6ff;
    }

    #modal-modal-description {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 560px) {
    .Dashboard {
      max-width: 100%;
    }

    .table-paper {
      padding: 4%;
    }

    .kid-clipart {
      width: 80px;
    }
  }
  @media (min-width: 768px){
    .video {
      width: 500px;
      height: 294px;
    }
    .photo {
      width: 500px;
    }

    .img-home {
      max-width: 10rem;
    }
  }

  
  @media (min-width: 1024px){
    .video {
      width: 650px;
      height: 382px;
    }
    .photo {
      width: 600px;
    }
  }
  
  @media (min-width: 1200px){
    .video {
      width: 800px;
      height: 471px;
    }
  }

